html, body {
    height: 100%;
}
body {
    display: grid;
    place-items: center;
}
button {
    cursor: pointer;
    background: #ccc;
    height:50%;
    width: 50%;
    box-shadow: 0 20px #999;
}
button:active {
    background: #999;
    box-shadow: 0 10px #666;
    transform: translateY(10px);
}